
<h1 style="font-size: xx-large; text-align: center; padding-top: 100px;">
                Welcome to Home</h1>
                <p style="font-size: larger; text-align: center;">Welcome to home</p>

                <!-- img container -->
                 
                <div class="container">
                   <!-- <img> -->
                </div>
                
                <!-- 1st card container -->
                
                <div class="row text-center">
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Qualified Specialist</h5>
                          <p class="card-text">Electronic typesetting, remaining essentially unchanged, was popularised in the 1960s with the release of Letraset sheets.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">100% Satisfaction</h5>
                          <p class="card-text">Electronic typesetting, remaining essentially unchanged, was popularised in the 1960s with the release of Letraset sheets.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Assured materials</h5>
                            <p class="card-text">Electronic typesetting, remaining essentially unchanged, was popularised in the 1960s with the release of Letraset sheets.</p>
                          </div>
                        </div>
                      </div>
                    <div class="col-sm-3">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Competitive Price</h5>
                            <p class="card-text">Electronic typesetting, remaining essentially unchanged, was popularised in the 1960s with the release of Letraset sheets.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                
                <!-- 2nd container -->
                
                <div class="container" style="background-color: whitesmoke;">
                <div class="row">
                 <div class="col-sm-3">
                    <h3 class="fun-fact__count"><span class="counter">528</span>+</h3>
                    <span class="fun-fact__text">Trusted Client’s</span>
                 </div>
                 <div class="col-sm-3">
                    <h3 class="fun-fact__count"><span class="counter">100</span>%</h3>
                    <span class="fun-fact__text">Client Satisfaction</span>
                 </div>
                 <div class="col-sm-3">
                    <h3 class="fun-fact__count"><span class="counter">9876</span></h3>
                    <span class="fun-fact__text">Cup Coffee</span>
                 </div>
                 <div class="col-sm-3">
                    <h3 class="fun-fact__count"><span class="counter">125</span>+</h3>
                    <span class="fun-fact__text">Award Win</span>
                 </div>
                </div>
                </div>
                
                <!-- 3rd container(card model) -->
                
                <div class="row text-center">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Records Section</h5>
                          <p class="card-text">Find the Maintenance records here</p>
                          <a routerLink="/list-maintenance" class="btn btn-primary">Maintenance Records</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Records Section</h5>
                          <p class="card-text">Find the Inventory records here</p>
                          <a routerLink="/list-inventory" class="btn btn-primary">Inventory</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="footer">
                    <p>&copy; 2024 Automobile Management System</p>
                    <p>Contact us: info&#64;automobilemanagement.com</p>
                  </div>
                  