<div class="container">
  <h3>Manufacturer List</h3>
  <div class="row mt-2 justify-content-center">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/add-manufacturer">Create</a>
    </div>
  </div>
  <br>
  <!-- <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of manufacturer">
        <td>{{ m.id }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.country }}</td>
        <td>
          <button type="button" class="btn btn-warning" [routerLink]="['/edit-manufacturer', m.id]">Edit</button> &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="delete(m.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table> -->

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="manufacturer" class="mat-table">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let m"> {{m.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let m"> {{m.name}} </td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let m"> {{m.country}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let m">
          <button mat-button color="warn" [routerLink]="['/edit-manufacturer', m.id]">Edit</button>
          <button mat-button color="accent" (click)="delete(m.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'country', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'country', 'actions'];"></tr>
    </table>
  </div>
  <div class="text-danger">
    {{tableState}}
  </div>
</div>